:root {
  --bg-main: #232;
  --bg-light: #586;
  --error-bg-main: #666;
  --error-bg-light: #444;
  --error-main: #e66;
  --shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
  --text-dark: #cee;
  --text-main: #eee;
  --text-light: #fff;
  --tile-size: 2em;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App-button {
  background-color: var(--text-main);
  border: none;
  border-radius: 1em;
  box-shadow: var(--shadow);
  color: var(--bg-main);
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 1em;
  text-transform: uppercase;
  transition: all 0.2s;
}

.App-button:hover {
  background-color: var(--text-light);
}

.App-error {
  color: var(--error-main);
  height: var(--tile-size);
  line-height: var(--tile-size);
}

.App-loading {
  animation: Pulsating infinite 0.8s alternate ease-in-out;
  color: var(--text-dark);
  height: var(--tile-size);
  letter-spacing: 0.5em;
  line-height: var(--tile-size);
  text-transform: uppercase;
}

.App-slotContainer {
  display: flex;
  margin: 1em 0 2em;
}

.App-tileContainer {
  display: flex;
}

.Tile {
  border-bottom: 1px solid var(--bg-light);
  height: var(--tile-size);
  font-size: 24px;
  line-height: var(--tile-size);
  margin: 0.25em;
  text-align: center;
  width: var(--tile-size);
}

.Tile-error {
  color: var(--error-main);
}

.Slot {
  background-color: var(--error-bg-light);
  border-radius: 50%;
  border: 2px solid var(--error-bg-main);
  color: var(--error-main);
  height: 1.5em;
  line-height: calc(1.5em - 2px);
  margin: 0.25em;
  text-align: center;
  width: 1.5em;
}

.Hangman {
  margin-bottom: 2em;
}

.Hangman line,
.Hangman circle {
  fill: none;
  stroke: var(--text-main);
  stroke-width: 3px;
}

.Hangman-rope {
  transform-origin: 130px 2px;
}

.Hangman-rope-swing {
  animation: Swing infinite 1s alternate ease-in-out;
}

@keyframes Pulsating {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes Swing {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}
